{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            #app, .container, html, body {
                height: 100%;
                margin: 0;
            }
            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .card {
                padding: 20px;
                /* max-width: 400px; */
            }
        </style>
    </head>
    <body>
        <div id="app"></div>

        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>
        <link href="{% static 'src/vue/dist/css/chunk-vendors.css' %}" rel=stylesheet>
    </body>
</html>